header {
    top: 50%; left:50%;
    text-align: center;
    height: 400px;
    width: 100%
    background-color: gold;
}

.container {
    align-self: center;
    margin-top: 0em;
    left: 100px;
}

.item1 {
    align-self: left;
    margin-top: 0em;

}