nav {
  height: 150px;
  width: 100%;
  display: flex;
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #c7a620;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
}
nav .tweeter-logo {
  font-family: "Bungee", sans-serif;
  font-size: larger;
}
nav .tweeter-text {
  font-family: "Source Sans 3", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
nav .tweeter-text p {
  margin: 0 auto;
}
nav .tweeter-text i {
  width: 100%;
  text-align: center;
  color: red;
  margin-top: 10px;
  animation: moveUpDown 2s ease-in-out infinite;
}
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0); /* Start and end position (no vertical movement) */
  }
  50% {
    transform: translateY(-7px); /* Middle position (move up 7px) */
  }
}
