$nav-color: #4056A1;


/* Desktop styles */
@media only screen and (min-width: 1024px) {
  nav {
    background-color: $nav-color;
    background-image: none;
  }
  body {
    display: flex;   
  }

  .tweet-header {
    width: 40%;
    height: 400px;
    margin: 200px 50px 50px 50px;
  }

  main {
    width: 60%;
    margin: 200px 50px 50px 50px;
  }
}

/* Tablet styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav {
    background-color: $nav-color;
    position: relative;
    top: 0px;
  }

  .tweet-header {
    width: 90%;
    height: 400px;
    margin: 50px auto;
  }

  main {
    width: 90%;
    margin: 0px 50px 0px 50px;
  }
}
