/* Desktop styles */
@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
    background-image: none;
  }
  body {
    display: flex;
  }
  .tweet-header {
    width: 30%;
    height: 400px;
    margin: 200px 30px 30px 30px;
  }
  main {
    width: 60%;
    margin: 200px 50px 50px 50px;
  }
}
/* Tablet styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav {
    background-color: #4056A1;
    position: relative;
    top: 0px;
  }
  .tweet-header {
    width: 60%;
    height: 300px;
    margin: 30px auto;
  }
  main {
    width: 90%;
    margin: 0px 50px 0px 50px;
  }
}

/* Mobile styles */
@media screen and (min-width: 768px) {
  /* CSS properties for screen sizes between 768px and 1024px */
  .mobile header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d69922;

    margin-top: 30px;
    height: 220px;
    width: 300px;
    margin-left: 2em;

    font-size: 18px;
  }

  .mobile header img {
    width: 110px;
    height: 110px;
  }

  header div:first-child {
    padding-top: 32px;
  }

  header div:last-child {
    padding-bottom: 16px;
  }
}