.tweet-header {
  position: relative;
  height: 400px;
  width: 100%;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #c7a620;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
}

.tweet-header img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}

.tweet-header p {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 30px;
  font-family: "Source Sans 3", sans-serif;
  color: #f4f1ec;
}

